.sort {
    width: 200px;
    margin-top: 30px;
    border-radius: 10px;
    height: fit-content;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid lightgrey;
}

.genre-name {
    padding: 7px 10px;
}

.genre-name:hover {
    background-color: ghostwhite;
    border-radius: 10px;
}

.sort a {
    text-decoration: none;
    color: black;
}

