.button {
    background-color: coral;
    text-decoration: none;
    font-size: 12pt;
    margin: 5px;
    padding: 2px 4px;
    border-radius: 3px;
    color: gainsboro;
}

.button:hover {
    color: white;
}

.filmsPosition {
    display: flex;
    justify-content: space-between;
}
