.imageStyle {
    max-height: 200px;
    max-width: 200px;
    padding: 3px 3px;
}

.product {
    border: 1px solid gainsboro;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    min-height: 280px;
    margin: 2px 2px;
    padding: 3px 3px;
}

.imageBlock {
    min-height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart {
    width: 30px;
}

.wish {
    width: 30px;
}

.bottomProduct {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
