* {
  margin: 0;
  padding: 0;
}

.main-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
}

.form {
  background-color: antiquewhite;
  padding: 10px;
}

.form-row {
  display: flex;
}

.form-row div {
  min-width: 80px;
}

button {
  border: 0;
  padding: 5px;
  margin-top: 3px;
  width: 65px;
  cursor: pointer;
  background-color: coral;
  font-weight: bold;
}

button:hover {
  background-color: burlywood;
}

.errors {
  color: red;
  font-size: 9pt;
  margin: auto 0;
}
