.user {
  display: flex;
  padding: 5px;
  border-right: 1px dashed lightblue;
}
.user .user-name {
  width: 40%;
}

.user button {
  border: 1px solid gainsboro;
  border-radius: 5px;
  height: 25px;
  width: 70px;
  cursor: pointer;
  background-color: white;
}

.user button:hover {
  background-color: gainsboro;
}
