.customer-area {
    display: flex;
    padding: 0 20px 0 15px;
}

.icons {
    width: 55px;
    margin: 0 2px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
}

.icons:hover {
    cursor: pointer;
}

.icons img {
    height: 30px;
}

.premium {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    padding: 0 3px;
    border-radius: 3px;
    margin: 0 10px 0 10px;
}

.premium:hover {
    cursor: pointer;
    background-color: #4E5C6A;
    transition: 0.5s;
    text-decoration: underline;
    text-decoration-color: red;
}

.premium-wrap:hover .popup{
    visibility: visible;
    opacity: 1;
    margin-top: 274px;
    height: 200px;
    width: 300px;
}

.premium-wrap:hover .premium {
    background-color: #4E5C6A;
    transition: 0.5s;
    text-decoration: underline;
    text-decoration-color: red;
}

.premium-wrap {
    height: 100%;
    cursor: pointer;
}

.premium-first {
    color: #D2D2D2;
    font-size: 7.5pt;
}

.premium-second {
    background-color: #471A7B;
    color: #F7D869;
    padding: 3px 7px;
    font-size: 8pt;
    border-radius: 3px;
}

.popup {
    visibility: hidden;
    background-color: white;
    border-radius: 10px;
    opacity: 0;
    transition: visibility ease 0s, opacity ease 0.5s;
    color: black;
    box-shadow: 1px 1px 1px 1px lightgrey;
    padding: 10px;
    position: absolute;
    right: 120px;
    box-sizing: border-box;
}

.icons:hover .popup{
    visibility: visible;
    opacity: 1;
    margin-top: 21px;
    height: 200px;
    width: 400px;
}







