.customer-area {
    display: flex;
    padding: 0 20px 0 15px;
}

.icons {
    width: 55px;
    margin: 0 2px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
}

.icons:hover {
    cursor: pointer;
}

.icons img {
    height: 30px;
}

.premium {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    padding: 0 3px;
    border-radius: 3px;
    margin: 0 10px 0 10px;
}

.premium:hover {
    cursor: pointer;
    background-color: #4E5C6A;
    transition: 0.5s;
    text-decoration: underline;
    text-decoration-color: red;
}

.premium-wrap:hover .popup{
    visibility: visible;
    opacity: 1;
    margin-top: 274px;
    height: 200px;
    width: 300px;
}

.premium-wrap:hover .premium {
    background-color: #4E5C6A;
    transition: 0.5s;
    text-decoration: underline;
    text-decoration-color: red;
}

.premium-wrap {
    height: 100%;
    cursor: pointer;
}

.premium-first {
    color: #D2D2D2;
    font-size: 7.5pt;
}

.premium-second {
    background-color: #471A7B;
    color: #F7D869;
    padding: 3px 7px;
    font-size: 8pt;
    border-radius: 3px;
}

.popup {
    visibility: hidden;
    background-color: white;
    border-radius: 10px;
    opacity: 0;
    transition: visibility ease 0s, opacity ease 0.5s;
    color: black;
    box-shadow: 1px 1px 1px 1px lightgrey;
    padding: 10px;
    position: absolute;
    right: 120px;
    box-sizing: border-box;
    cursor: default;
}

.icons:hover .popup{
    visibility: visible;
    opacity: 1;
    margin-top: 2px;
    min-height: 100px;
    width: 530px;
    padding: 20px 30px 30px;
}

.icons:hover .popup-300{
    visibility: visible;
    opacity: 1;
    margin-top: 2px;
    min-height: 100px;
    width: 300px;
    padding: 20px 30px 30px;
}

.number-area {
    font-weight: bold;
    font-size: 10pt;
    background-color: #FF0000;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 39px;
    left: 28px;
}

.empty-number-area {
    width: 19px;
    height: 19px;
}

.popup .icon {
    width: 45px;
    height: 40px;
}

.popup .wish {
    display: flex;
    height: 100%;
    align-items: center;
}

.popup .titleName {
    margin-bottom: 14px;
    font-size: 16pt;
}

.popup .div-text {
    padding-left: 25px;
}

.order {
    background-color: #00a046;
    color: #fff;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    border: 0;
    border-radius: 4px;
    width: 100%;
}

.order:hover {
    background-color: #00BC52;
    transition: 0.3s;
}

.cart-information {
    margin-bottom: 14px;
    line-height: 24px;
    font-size: 11pt;
}

.cart-link {
    margin-top: 20px;
    text-align: center;
    font-size: 11pt;
}

.cart-link a:hover {
    color: red;
    text-decoration: none;
}

.popup-300 {
    width: 300px;
}





