<!--<form #myForm='ngForm' (ngSubmit)="checkForm(myForm)">
  <div>
    <input [(ngModel)]="user.name" [name]="'name'">
  </div>
  <div>
    <input [(ngModel)]="user.age" [name]="'age'">
  </div>
  <div>
    <button>Click</button>
  </div>
</form>-->

<!--<form [formGroup]="myForm" (ngSubmit)="checkInfo()">
  <div>
    <input [formControl]="name">
    <div *ngIf="name.errors?.required" [className]="'errorClass'">This is required input</div>
    <div *ngIf="name.errors?.minlength?.requiredLength" [className]="'errorClass'">Min length is - 10</div>
  </div>
  <div>
    <input [formControl]="age">
  </div>
  <div>
    <button [disabled]="myForm.status !== 'VALID'">Submit</button>
  </div>
</form>-->

<form [formGroup]="carForm" (ngSubmit)="addToList()">
  <div [className]="'carForm'">
    <div [className]="'labels'">
      <div>Model:</div>
      <div>Year:</div>
      <div>Horsepower:</div>
      <div>Color:</div>
      <div>Owner:</div>
    </div>
    <div>
      <div><input [formControl]="model" [name]="model"></div>
      <div><input [formControl]="year" [name]="year"></div>
      <div><input [formControl]="horsepower" [name]="horsepower"></div>
      <div><input [formControl]="color" [name]="color"></div>
      <div>
        <select [formControl]="owner" [name]="owner">
          <option>true</option>
          <option>false</option>
        </select>
      </div>
    </div>
    <div [classList]="['messages']">
      <div [className]="'error-list'">
        <div [classList]="'errorClass asterisk'" *ngIf="model.errors?.required">
          *
        </div>
      </div>
      <div [className]="'error-list'">
        <div [classList]="'errorClass asterisk'" *ngIf="year.errors?.required">
          *
        </div>
        <div [className]="'errorClass'" *ngIf="year.errors?.pattern?.requiredPattern">
          'Year' should include 4 digits
        </div>
      </div>
      <div [className]="'error-list'">
        <div [className]="'errorClass'" *ngIf="horsepower.errors?.required">
          *
        </div>
        <div [className]="'errorClass'" *ngIf="horsepower.errors?.pattern?.requiredPattern">
          'Horsepower' should include 2÷4 digits
        </div>
      </div>
      <div [className]="'error-list'">
        <div [className]="'errorClass'" *ngIf="color.errors?.required">
          *
        </div>
      </div>
      <div [className]="'error-list'">
        <div [className]="'errorClass'" *ngIf="owner.errors?.required">
          *
        </div>
      </div>
    </div>
    <div [className]="'button-div'">
      <button [disabled]="carForm.invalid">Add car</button>
    </div>
  </div>
</form>
<div *ngFor="let car of cars">
  <app-cars [car]="car"></app-cars>
</div>
