<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CarForm</title>
</head>
<body>
<form action="/savecar" method="post">
    <div>Brand:
        <select name="brand" size="7">
            <option value="BMW">BMW</option>
            <option value="MERCEDES">MERCEDES</option>
            <option value="VOLKSWAGEN">VOLKSWAGEN</option>
            <option value="RENAULT">RENAULT</option>
            <option value="AUDI">AUDI</option>
            <option value="HONDA">HONDA</option>
            <option value="HYUNDAI">HYUNDAI</option>
        </select> </div>
    <div>Model:
        <input type="text" name="model"></div>
    <div>Year: <input type="text" name="year"></div>
    <div><button>Add</button></div>
</form>
</body>
</html>
