.movie-item {
    display: flex;
    border: 1px solid lightgrey;
    width: 200px;
    margin-top: 30px;
    margin-left: 30px;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.movie-item .poster {
    border-radius: 10px 10px 0 0;
    width: 200px;
}

.movie-item h2 {
    font-size: 12pt;
    margin: 0;
}

.movie-item .div-text {
    padding: 26px 10px 5px 10px;
}

.movie-item p {
    color: rgba(0,0,0,0.6);
    margin: 5px 0 0 0;
}

.movie-item .genres {
    font-size: 10pt;
    color: rgba(0,0,0,0.6);
    display: flex;
    padding: 5px 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.div-genre {
    padding: 0 2px;
}
