* {
  margin: 0;
  padding: 0;
  color: azure;
}

.main-container {
  background-color: #1D1D1B;
  min-height: 100vh;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
}

.filmsList {
  box-sizing: border-box;
  min-height: 150px;
  background-color: darkgray;
  margin: 10px;
  border-radius: 5px;
  width: 30%;
  padding: 5px;
  font-size: 15pt;
  line-height: 27px;
}

.filmsDescription {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 150px;
  background-color: darkgray;
  margin: 10px 10px 10px 0px;
  border-radius: 5px;
  width: calc(70% - 30px);
  padding: 5px;
  line-height: 27px;
}

.firstBlock {
  display: flex;
}

.filmsDetails {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 150px;
  background-color: darkgray;
  margin: 0px 10px 10px 10px;
  border-radius: 5px;
  width: 30%;
  padding: 5px;
  line-height: 27px;
}
