header {
  background-color: paleturquoise;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
}

.div-menu {
  display: flex;
}

header div {
  margin: 7px;
}

header div a {
  text-decoration: none;
  color: black;
}

header div a:hover {
  color: red;
}
