.page-layout {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.footer {
    width: 100%;
    background-color: coral;
    height: 25px;
}

.header {
    width: 100%;
    background-color: #032541;
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

