.whole-menu {
    box-sizing: border-box;
    position: absolute;
    top: 114px;
    background-color: white;
    width: 300px;
    margin-top: 10px;
    z-index: 99;
    height: 583px;
    display: flex;
    align-items: flex-end;
    border-radius: 3px;
}

.whole-menu:hover {
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.4);
}

.shade-class {
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.4);
    z-index: 1;
}


