.products {
    width: 100%;
    background-color: white;
}

h2 {
    font-size: 19px;
    line-height: 21px;
    margin-top: 4px;
    margin-bottom: 0;
}

.position-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.product-title {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
}

.icon-title {
    height: 25px;
    margin-right: 16px;
}






