.button-character {
    background-color: coral;
    margin: 5px 5px 5px 0px;
    padding: 2px 4px;
    border-radius: 3px;
    color: gainsboro;
    line-height: normal;
}

.button-character:hover {
    color: white;
}

/*.absolute-position {*/
/*    position: absolute;*/
/*    right: 0;*/
/*top: 0;*/
/*}*/


