.button-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.button-character {
    background-color: coral;
    margin: 5px 5px 5px 0px;
    padding: 2px 4px;
    border-radius: 3px;
    line-height: normal;
}

.absolute-position {
    box-sizing: border-box;
    min-height: 150px;
    background-color: darkgray;
    margin: 10px 10px 10px 0px;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    left: calc(30% + 20px);
    min-width: 300px;
}


.characters {
    text-decoration: none;
    color: gainsboro;
}
.characters:hover {
    color: white;
}

